@page
@model RazorPagesTutorial.Pages.UploadImageModel
@{
    ViewData["Title"] = "UploadImage";
}

<h1>UploadImage</h1>
<form method="post" enctype="multipart/form-data">
    <input type="file" name="pic" />
    <input type="submit" value="Go"/>
</form>


