@page
@model RazorPagesTutorial.Pages.Virtual_RegisterModel
@{
    ViewData["Title"] = "Virtual_Register";
}

<h1>Virtual_Register</h1>

<div style="display: inline-flex">
    <div style="display : inline-block">
        <p>test1</p>
    </div>
    <div style="display : inline-block">
        <p>Test2</p>
    </div>
</div>
